<header class="">
    <div class="row">
        <div class="navbar-static-top">
            <div class="col-sm-2">
                <a href="#"><img class=" main-logo img-rounded img-responsive" src="img/ESOLLogo.jpg" alt="Esol Exchange"></img></a>
            </div>
            <div class="col-sm-4">
                <h1 class="text-danger text-center"> </h1>
            </div>
            <div class="col-sm-5">
                <div class="">
                    <ul class="nav nav-tabs navbarPadding navbar-right" id="nav">
                        <li {{bind-attr class="aboutClassName"}} role="presentation">
                            {{#link-to 'about' tagName="a"}}About{{/link-to}}
                        </li>
                        <li class="hide" {{bind-attr class="administrationClassName"}} role="presentation">
                            {{#link-to 'administration'}}System{{/link-to}}
                        </li>
                        <li {{bind-attr class="mapClassName"}} role="presentation">
                            <a href="#" {{action 'seeAll'}}>ESOL Map</a>
                        </li>
                        <li {{bind-attr class="helpClassName"}} role="presentation">
                            {{#link-to 'help'}}Resources{{/link-to}}
                        </li>
                        <li {{bind-attr class="levelsClassName"}} role="presentation">
                            {{#link-to 'whatLevel'}}ESOL Levels{{/link-to}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

    {{outlet}}

        <!-- Footer -->
<footer class="main-footer">
<div class="row">
    <div class="col-sm-4 footImages">
        <a class="" target='_blank' href="http://www.aston-mansfield.org.uk/newhamesolexchange">
            <img  class="th-logo img-rounded" src="img/aston-mansfield_logo.jpg" alt="Aston logo"></img>
        </a>
        <!-- <a class="footImages" target='_blank' href="https://www.newham.gov.uk/"><img class="th-logo img-rounded" src="img/newham_logo.jpg" alt="Newham logo"></a> -->
        <p class="copyright">&copy; 2016 Newham ESOL Exchange.</p>
    </div>
    <div class="col-sm-3 col-sm-offset-1 col-md-offset-2">
        <ul class="link-list">
            <li class="heading"><p>Info &rarr;</p></li>
            <li>
                {{#link-to 'newhamFamilyInfo'}}Do you have a child in School?{{/link-to}}
            </li>
        </ul>
    </div>

    <div class="col-sm-3">
        <ul class="link-list">
            <li class="heading"><p >Get in touch &rarr;</p></li>
            <li>Anne Crisp</li>
            <li><a href="mailto:anne.crisp@aston-mansfield.org.uk">anne.crisp@aston-mansfield.org.uk</a></li>
            <li>020 3740 8122</li>
        </ul>
    </div>
</div>
<div class="row">
<div class="col-sm-4">
    <p class="copyright"></p>
</div>

</div>
</footer><!-- End footer -->