<div class="panel panel-primary bs-example">
    <div class="panel-heading">Edit Centre</div>
    <div class="bs-example">
        <form>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        {{input type="text" value=name class="form-control" id="name"}}
                    </div>
                    <div class="form-group">
                        <label for="contact_number">location</label>
                        {{input type="text" value=location class="form-control" id="location"}}
                    </div>
                    <div class="form-group">
                        <label for="contact_mail">accebility</label>
                        {{input type="text" value=accebility class="form-control" id="accebility"}}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="address">Address</label>
                        {{input type="text" value=address class="form-control" id="address"}}
                    </div>
                    <div class="form-group">
                        <label for="contact_person">post_code</label>
                        {{input type="text" value=post_code class="form-control" id="post_code"}}
                    </div>
                    <div class="form-group">
                        <label for="courses_acreditated">accebility_condition</label>
                        {{input type="text" value=accebility_condition class="form-control" id="accebility_condition"}}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="post_code">buses</label>
                        {{input type="text" value=buses class="form-control" id="buses"}}
                    </div>
                    <div class="form-group">
                        <label for="contact_web">tube</label>
                        {{input type="text" value=tube class="form-control" id="tube"}}
                    </div>
                    <div class="form-group">
                        <label for="other_information">Other Information</label>
                        {{input type="text" value=other_information class="form-control" id="other_information"}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">

                    </div>


                </div>
            </div>
            <hr>
            </hr>
            <button class="btn btn-primary" {{action "save"}}>Save</button>
        <hr>
        </hr>
    </form>

    </div>
        </div>




