<div class="panel panel-primary bs-example">
    <div class="panel-heading">Edit Course</div>
    <div class="bs-example">
        <form>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        {{input type="text" value=name class="form-control" id="name"}}
                    </div>
                    <div class="form-group">
                        <label for="contact_number">class_type</label>
                        {{input type="text" value=class_type class="form-control" id="class_type"}}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="address">levels</label>
                        {{input type="text" value=levels class="form-control" id="levels"}}
                    </div>
                    <div class="form-group">
                        <label for="contact_person">who_join</label>
                        {{input type="text" value=who_join class="form-control" id="who_join"}}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="post_code">how_join</label>
                        {{input type="text" value=how_join class="form-control" id="how_join"}}
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="contact_web">when_join</label>
                            {{input type="text" value=when_join class="form-control" id="when_join"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="contact_mail">how_long</label>
                            {{input type="text" value=how_long class="form-control" id="how_long"}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="courses_acreditated">cost_free</label>
                        {{input type="text" value=cost_free class="form-control" id="cost_free"}}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="tutors_qualified">cost_condition</label>
                        {{input type="text" value=cost_condition class="form-control" id="cost_condition"}}
                    </div>
                    <div class="form-group">
                        <label for="courses_acreditation_condition">times</label>
                        {{input type="text" value=times class="form-control" id="times"}}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="tutors_qualified_condition">documentation_required</label>
                        {{input type="text" value=documentation_required class="form-control" id="documentation_required"}}
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="how_acreditated">contact_phone</label>
                            {{input type="text" value=contact_phone class="form-control" id="contact_phone"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="core_curriculum">contact_email</label>
                        {{input type="text" value=contact_email class="form-control" id="contact_email"}}
                    </div>
                    <div class="form-group">
                        <label for="referral_system">contact_person</label>
                        {{input type="text" value=contact_person class="form-control" id="contact_person"}}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="core_curriculum_condition">child_care</label>
                        {{input type="text" value=child_care class="form-control" id="child_care"}}
                    </div>
                    <div class="form-group">
                        <label for="classes_outside_newham">child_care_condition</label>
                        {{input type="text" value=child_care_condition class="form-control" id="child_care_condition"}}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="esol_assesment">esol_assesment</label>
                        {{input type="text" value=esol_assesment class="form-control" id="esol_assesment"}}
                    </div>
                    <div class="form-group">
                        <label for="esol_assesment">organization_id</label>
                        {{input type="text" value=organization_id class="form-control" id="organization_id"}}
                    </div>
                    <div class="form-group">
                        <label for="other_information">other_information</label>
                        {{input type="text" value=other_information class="form-control" id="other_information"}}
                    </div>
                </div>
            </div>
            <hr>
            </hr>
            <button class="btn btn-primary" {{action "save"}}>Save</button>
        <hr>
        </hr>
    </form>

</div>
        </div>




