<div class="panel panel-primary bs-example">
    <div class="panel-heading">Edit Centre</div>
    <div class="bs-example">
        <form>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="name">Name</label>
                            {{input type="text" value=name class="form-control" id="name"}}
                        </div>
                        <div class="form-group displayNone">
                            <label for="location">Location</label>
                            {{input type="text" value=location class="form-control" id="location"}}
                        </div>
                        <div class="form-group">
                            <label for="buses">Buses</label>
                            {{input type="text" value=buses class="form-control" id="buses"}}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="accebility">Accessibility</label>
                            {{view "select" id="accebility" value=accebility
                            classNames="form-control"
                            content=yesNoConditionedOptions
                            optionLabelPath="content.label"
                            optionValuePath="content.value"}}
                        </div>
                        <div class="form-group">
                            <label for="tube">Tube</label>
                            {{input type="text" value=tube class="form-control" id="tube"}}
                        </div>
                    </div>
                    <div class="col-xs-4">

                        <div class="form-group">
                            <label for="accebility_condition">Accessibility condition</label>
                            {{input type="text" value=accebility_condition class="form-control" id="accebility_condition"}}
                        </div>
                        <div class="form-group">
                            <label for="other_information">Other information</label>
                            {{input type="text" value=other_information class="form-control" id="other_information"}}
                        </div>
                    </div>
                </div>
                <hr>
                </hr>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="address">Address</label>
                            {{input type="text" value=address class="form-control" id="address"}}
                        </div>
                        <div class="form-group">
                            <label for="contact_person">post_code</label>
                            {{input type="text" value=post_code class="form-control" id="post_code"}}
                        </div>
                        <button class="btn btn-primary" {{action "search"}}>See on map</button>
                    </div>

                    <div class="col-xs-8">
                        <div class="form-group">
                            <div id="map-canvas" class="mapSize"></div>
                        </div>
                    </div>
                </div>
                <hr>
                </hr>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-primary" {{action "save"}}>Save</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-danger" {{action "cancel"}}>Cancel</button>
                    </div>
                </div>
                <hr>
                </hr>
        </form>
    </div>
</div>







