<div class="panel panel-primary bs-example">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-4">
                <label> Centres Support -Edit Centre </label>
            </div>
           <div class="col-xs-8 has-error">
               <ul class="pull-right">
                   <li><li/>
               </ul>
           </div>
        </div>
    </div>
    <div class="bs-example">
        <div class="row">
            <p class="has-error pull-right"> {{errors.name}} {{errors.address}}{{errors.post_code}} </p>
        </div>
        <form>
                <div class="row">
                    <div class="col-xs-4">
                        <div {{bind-attr class="form-group errors.name:has-error errors.name:has-feedback"}}>
                            <label for="name">Name</label>
                            <span  class=" glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only"></span>
                            {{input type="text" value=name class="form-control" id="name"  aria-describedby="inputError2Status"}}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="buses">Buses</label>
                            {{input type="text" value=buses class="form-control" id="buses"}}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="tube">Tube</label>
                            {{input type="text" value=tube class="form-control" id="tube"}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="accebility">Accessibility</label>
                            {{view "select" id="accebility" value=accebility
                            classNames="form-control"
                            content=yesNoConditionedOptions
                            optionLabelPath="content.label"
                            optionValuePath="content.value"}}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="accebility_condition">Accessibility condition</label>
                            {{textarea disabled=accecibilityNotConditioned rows="2" type="text" value=accebility_condition
                            class="form-control textareaScroll" id="accebility_condition"}}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="other_information">Other information</label>
                            {{textarea rows="2" type="text" value=other_information
                            class="form-control textareaScroll" id="other_information"}}
                        </div>
                    </div>
                </div>

                <hr>
                </hr>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="col-xs-12">
                            <div {{bind-attr class="form-group errors.address:has-error errors.address:has-feedback"}}>
                                <label class="control-label" for="address">Address</label>
                                <span  class=" glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputErrorAddressStatus" class="sr-only"></span>
                                {{input type="text" value=address class="form-control" id="address" aria-describedby="inputErrorAddressStatus"}}
                            </div>
                        <br></br>
                        </div>
                        <div class="col-xs-12">
                            <div {{bind-attr class="form-group errors.post_code:has-error errors.post_code:has-feedback"}}>
                                <label class="control-label"  for="post_code">Postcode</label>
                                <span  class=" glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputErrorPostcodeStatus" class="sr-only"></span>
                                {{input type="text" value=post_code class="form-control" id="post_code" aria-describedy="inputErrorPostcodeStatus"}}
                            </div>
                            <button class="btn btn-primary" {{action "search"}}>See on map</button>
                        </div>


                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <div id="map-canvas" class="mapSize"></div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="pull-right rightMargin">
                <div class="col-xs-8">
                    <button class="btn btn-danger btn-lg" {{action "cancel"}}>Cancel</button>
                </div>
            <div class="col-xs-4">
                <button class="btn btn-primary btn-lg" {{action "save"}}>Save</button>
            </div>
        </div>
    </div>
</div>







