<div class="container">
    <h2>Organization Support</h2>
    <div class="panel panel-default">
        <div class="panel-heading">Edit Organization</div>
        <div class="panel-body">
            <div class="">
                <p class="has-error pull-right"> {{errors.name}} {{errors.address}} {{errors.post_code}} {{errors.contact_number}}  {{errors.contact_email}}</p>
            </div>
            <form class="form-horizontal formFormat">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <div {{bind-attr class="form-group errors.name:has-error errors.name:has-feedback"}}>
                                <h5 class="" for="name">Name</h5>
                                <span  class=" glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputErrorNameStatus" class="sr-only"></span>
                                 {{input type="text" value=name class="form-control" id="name" aria-describedby="inputErrorNameStatus"}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div {{bind-attr class="form-group errors.contact_number:has-error errors.contact_number:has-feedback"}}>
                                <h5 class="" for="contact_number">Contact Number</h5>
                                <span  class=" glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputErrorContacNumberStatus" class="sr-only"></span>
                                {{input  type="text" value=contact_number class="form-control" id="contact_number" aria-describedby="inputErrorContacNumberStatus"}}
                            </div>
                        </div>
                            <div class="col-xs-4">
                                <h5 for="contact_person">Contact Person</h5>
                                {{input type="text" value=contact_person class="form-control" id="contact_person"}}
                            </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <div {{bind-attr class="errors.address:has-error errors.address:has-feedback"}}>
                                <h5 for="address">Address</h5>
                                <span  class=" glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputErrorAddressStatus" class="sr-only"></span>
                                {{input type="text" value=address class="form-control" id="address" aria-describedby="inputErrorAddressStatus"}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div {{bind-attr class="errors.post_code:has-error errors.post_code:has-feedback"}}>
                                <h5 for="post_code">Post Code</h5>
                                <span  class=" glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputErrorPostcodeStatus" class="sr-only"></span>
                                {{input type="text" value=post_code class="form-control" id="post_code" aria-describedy="inputErrorPostcodeStatus"}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="esol_assesment">ESOL assessment</h5>
                                {{input type="text" value=esol_assesment class="form-control" id="esol_assesment"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="contact_web">Contact Web</h5>
                                {{input type="text" value=contact_web class="form-control" id="contact_web"}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div {{bind-attr class="errors.contact_email:has-error errors.contact_email:has-feedback"}}>
                                <h5 for="contact_mail">Email</h5>
                                <span  class=" glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="inputErrorContactEmailStatus" class="sr-only"></span>
                                {{input type="text" value=contact_email class="form-control" id="contact_email" aria-describedby="inputErrorContactEmailStatus"}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="referral_system">Referral System</h5>
                                {{input type="text" value=referral_system class="form-control" id="referral_system"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="tutors_qualified">Tutors Qualified?</h5>
                                {{view "select"
                                id="tutors_qualified"
                                value=tutors_qualified
                                classNames=""
                                content=yesNoConditionedOptions
                                optionLabelPath="content.label"
                                optionValuePath="content.value"}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="tutors_qualified_condition">Any condition about tutors</h5>
                                {{textarea disabled=tutorsQualifiedNotConditioned rows="2" type="text" value=tutors_qualified_condition
                                class="textareaScroll" id="tutors_qualified_condition"}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="how_acreditated">About acreditation</h5>
                                {{input type="text" value=how_acreditated class="" id="how_acreditated"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="courses_acreditated">Courses Acreditated?</h5>
                                {{view "select"
                                id="courses_acreditated"
                                value=courses_acreditated
                                classNames=""
                                content=yesNoConditionedOptions
                                optionLabelPath="content.label"
                                optionValuePath="content.value"}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="courses_acreditation_condition">Any condition about courses accreditation?</h5>
                                {{textarea disabled=coursesAcreditationNotConditioned rows="2" type="text" value=courses_acreditation_condition
                                class=" textareaScroll" id="courses_acreditation_condition"}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="classes_outside_newham">Classes outside Newham?</h5>
                                {{input type="text" value=classes_outside_newham class="form-control" id="classes_outside_newham"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="core_curriculum">Core curriculum</h5>
                                {{view "select"
                                id="core_curriculum"
                                value=core_curriculum
                                classNames=""
                                content=yesNoConditionedOptions
                                optionLabelPath="content.label"
                                optionValuePath="content.value"}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="core_curriculum_condition">Any condition about core curriculum?</h5>
                                {{textarea disabled=coreCurriculumNotConditioned rows="2" type="text" value=core_curriculum_condition
                                class="form-control textareaScroll" id="core_curriculum_condition"}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="">
                                <h5 for="other_information">Other information</h5>
                                {{textarea rows="2" type="text" value=other_information
                                class="form-control textareaScroll" id="other_information"}}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="pull-right">
                    <div class="col-xs-6">
                        <button class="btn btn-danger btn-lg" {{action "cancel"}}>Cancel</button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-primary btn-lg" {{action "save"}}>Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>