<div>
    <div class="row">
        <div class="col-md-9">

            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="e.g. English class for beginner" aria-describedby="sizing-addon1"></input>
                <span class="input-group-addon" id="sizing-addon1">
                   <span class="glyphicon glyphicon-search" aria-hidden="true" {{action 'search'}}></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-info" {{action 'enableAdvancedSearch'}}>
                <span class="label label-info">Detailed search</span>
                    {{#if detailedSearchEnabled}}
                       <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    {{else}}
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    {{/if}}

            </button>
        </div>
    </div>
        {{#if detailedSearchEnabled}}
            <div class="panel panel-default" id="detailedSearch">
                <div class="row">
                    <div class="col-md-5">
                        <label class="checkbox-inline">
                            {{input type="checkbox" id="inlineCheckbox1" checked=isFree}}<p class="text-primary"> Free </p>
                        </label>
                        <label class="checkbox-inline">
                            {{input type="checkbox" id="inlineCheckbox2" checked=childCare}}<p class="text-primary"> Child Care </p>
                        </label>
                        <label class="checkbox-inline">
                            {{input type="checkbox" id="inlineCheckbox3" checked=disability}}<p class="text-primary"> Disability </p>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            {{input type="text" value=postCode class="form-control" id="postCode" placeholder="Post code" aria-describedby="sizing-addon2"}}
                            <span class="input-group-addon" id="postCode">Post Code</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="..."></input>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Level <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#">Formal course</a></li>
                                    <li><a href="#">Informal classes</a></li>
                                    <li><a href="#">Conversation / speaking only</a></li>
                                    <li><a href="#">ESOL with IT</a></li>
                                    <li><a href="#">ESOL with sewing</a></li>
                                    <li><a href="#">Women only</a></li>
                                    <li><a href="#">ESOL for Citizenship</a></li>
                                    <li><a href="#">ESOL for Employment</a></li>
                                    <li><a href="#">Beginners/pre-literate</a></li>
                                    <li><a href="#">Pre-entry</a></li>
                                    <li><a href="#">Entry 1</a></li>
                                    <li><a href="#">Entry 2</a></li>
                                    <li><a href="#">Entry 3</a></li>
                                    <li><a href="#">Level 1</a></li>
                                    <li><a href="#">Level 2</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div><!-- /btn-group -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="..."></input>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Level <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#">Stratford</a></li>
                                    <li><a href="#">East Ham</a></li>
                                    <li><a href="#">North Woolwich</a></li>
                                    <li><a href="#">Playstow</a></li>
                                    <li><a href="#">West Ham</a></li>
                                    <li><a href="#">Forest Gate</a></li>
                                    <li><a href="#">Beckton</a></li>
                                    <li><a href="#">Prince Regent</a></li>
                                    <li><a href="#">Britanian Village</a></li>
                                    <li><a href="#">Upton Park</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div><!-- /btn-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                            <button type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false" {{action 'search'}}>Search</button>
                        </div>
                    </div>
                    </div>
            </div><!-- /. end detailedSearch-->
        {{/if}}
    <div class="panel panel-default">
        <div class="row col-md-12">
            <div id="map-canvas" class="mapSize"></div>
        </div>
    </div>
</div>
