    <div class="mapSearchOptionBackground">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group input-group-lg">
                    {{input class="form-control"
                    type="text"
                    value=postCode
                    placeholder="Find an English class. Search by postcode or area."
                    aria-describedby="sizing-addon2"}}
                    <span class="input-group-addon" id="sizing-addon1">
                       <span class="glyphicon glyphicon-search" aria-hidden="true" {{action 'search'}}></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-info" {{action 'enableAdvancedSearch'}}>
                    <span class="label ">Detailed search</span>
                    {{#if detailedSearchEnabled}}
                       <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    {{else}}
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    {{/if}}
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-info" {{action 'seeAllCourses'}}>
                    <span class="text-primary">See all courses in Newham</span>
                </button>
            </div>
        </div>
            {{#if detailedSearchEnabled}}
                <div id="detailedSearch">
                    <div class="row">
                        <form class="advenceSeachBorde">
                            <div class="col-md-2 hide">
                                <div class="input-group" >
                                    <h5>Free: </h5>
                                    <div class=" bottonFormat">
                                        {{view "select"
                                        content=yesNotConditionList
                                        classNames="form-control dropdown-menu"
                                        type="button"
                                        selection=free
                                        id="free"
                                        aria-describedby="sizing-addon2"}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 hide">
                                <div class="input-group" >
                                    <h5 class="">Child care facilities: </h5>
                                    <div class="bottonFormat">
                                        {{view "select"
                                        content=yesNotConditionList
                                        classNames="form-control dropdown-menu"
                                        type="button"
                                        id="childcare"
                                        selection=childCare
                                        aria-describedby="sizing-addon2"}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 hide">
                                <div class="input-group" >
                                    <h5 class="">Disability access: </h5>
                                    <div class="bottonFormat">
                                        {{view "select"
                                        content=yesNotConditionList
                                        classNames="form-control dropdown-menu"
                                        type="button"
                                        id="disability"
                                        selection=disability
                                        aria-describedby="sizing-addon2"}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <h5 class="AdvanceSearchHeader">Class for free:</h5>
                                    <button id="yesFreeActive" type="button"  {{bind-attr class="freeYesSelected"}} {{action 'freeActivateYes'}}>Yes
                                    <button id="noFreeActive" type="button"  {{bind-attr class="freeNoSelected"}} {{action 'freeActivateNo'}}>No
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <h5 class="AdvanceSearchHeader">Disability access:</h5>
                                    <button id="yesDisabilityActive" type="button"  {{bind-attr class="disabilityYesSelected"}} {{action 'disabilityActivateYes'}}>Yes
                                    <button id="noDisabilityActive" type="button"  {{bind-attr class="disabilityNoSelected"}} {{action 'disabilityActivateNo'}}>No
                                    <button id="anyDisabilityActive" type="button"  {{bind-attr class="disabilityAnySelected"}} {{action 'disabilityActivateAny'}}>Any
                                    <!--

                                    -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <h5 class="AdvanceSearchHeader">Child care facilities:</h5>
                                    <button id="yesChildcareActive" type="button"  {{bind-attr class="childcareYesSelected"}} {{action 'childcareActivateYes'}}>Yes
                                    <button id="noChildcareActive" type="button"  {{bind-attr class="childcareNoSelected"}} {{action 'childcareActivateNo'}}>No
                                    <button id="anyChildcareActive" type="button"  {{bind-attr class="childcareAnySelected"}} {{action 'childcareActivateAny'}}>Any
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="searchBottonFormat input-group">
                                    <button type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false" {{action 'search'}}>Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {{/if}}
        </div> <!-- /. end detailedSearch-->
    <div class="">
        <div class="">
            <div id="map-canvas" class="mapSearchOptionBackground panel"></div>
            {{info-window isVisible=false viewName='marker'}}
        </div>
            <!-- Algo sobre el marker -->
        <div id="markerContent"  class="hide">
            <h4 class="text-center text-danger centerName">center name here</h4>
            <h5 class="" >Courses:</h5>
            <ul class="popupFormat text-success list">

            </ul>
        </div>
    </div>

