

    <button class="btn btn-primary" {{action 'add'}}> Add new organization </button>
    <div class="panel panel-default" id="pag">
    <table id="example" class=" table table-bordered container ">
        <thead>
            <tr>
                <th class="col-md-5"><p class="text-info">Name</p></th>
                <th class="col-md-4"><p class="text-info">Address</p></th>
                <th class="col-md-3"><p class="text-info">Contact</p></th>
                <th class="col-md-1">&nbsp;</th>
            </tr>
        </thead>

        {{#each organization in orgs}}
        <tbody>
            <tr>
                <td>{{#link-to "editOrganization" organization}}<p class="text-primary"> {{organization.name}} </p>{{/link-to}}</td>
                <td><p class="text-primary">{{organization.address}}<span>. </span>{{organization.post_code}}</p></td>
                <td><p class="text-primary">{{organization.contact_person}}<span>, </span> {{organization.contact_number}}</p></td>
                <td>

                    <p class="label label-warning">{{#link-to "deleteOrganization" organization}}<span class='glyphicon glyphicon-remove' title="Delete"></span>{{/link-to}}</p>
                </td>
        </tr>

        </tbody>

        {{/each}}
    </table>
</div>