<div class="panel panel-primary bs-example">
    <div class="panel-heading centered-text">
        <div class="row">
            <div class="col-md-8">
                <div class=""><h2 class="">{{model.name}}</h2></div>
                <div><h4> {{model.organization.name}} <span> at  </span> {{centre.name}}</h4></div>
                <div class=""><h4> <strong>{{model.class_type}}:</strong>  {{model.levels}}</h4></div>
                <div class=""><strong>Contact:</strong> &nbsp; {{model.contact_person}}&nbsp; &nbsp; {{model.contact_phone}} &nbsp; {{contact_email}}</div>
                <div class=""><button class="btn btn-info" {{action "search"}}>See on map</button></div>
            </div>
            <div class="col-md-4 ">
                <div id="map-canvas-small" class=""></div>
            </div>
        </div>
    </div>
    <div class="panel-primary">
    <div class="bs-example">
        <form>
            <div class="row">
                <div class="col-xs-5">
                    <h3 class="text-error">How can join?</h3>
                    <p class="text-error">{{model.how_join}}</p>
                </div>
            <div class="col-xs-1"></div>
                <div class="col-xs-5">
                    <h3 class="text-error">Who can I join?</h3>
                    <p class="text-error">{{model.who_join}}</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-xs-5">
                    <h3 class="text-error">When can I join?</h3>
                    <p class="text-error">{{model.when_join}}</p>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-5">
                    <h3 class="text-error">How much does it cost?</h3>
                    <p class="text-error" id="cost_free">
                        {{#if isFree}}
                            <span> It is for free. </span>
                            &nbsp; <span>{{model.cost_condition}}</span>
                        {{else}}
                            <span> It course has a charge. </span>
                            &nbsp; <span>{{model.cost_condition}}</span>
                        {{/if}}
                    </p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-xs-5">
                    <h3 class="text-error">What is the schedule?</h3>
                    <p class="text-error">{{model.times}}</p>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-5">
                    <h3 class="text-error">What document do I need for join?</h3>
                    <p class="text-error">{{model.documentation_required}}</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-xs-11">
                    <h3 class="text-error">Notes:</h3>
                    <div class="col-xs-12">
                        <p class="text-error" id="accessibility"> 1.-
                            {{#if hasAccessibility}}
                            <span> This centre has accessibility.</span>
                            &nbsp; <span>{{centre.accebility_condition}}</span>
                            {{else}}
                            <span> This centre do not has accessibility. </span>
                            &nbsp; <span>{{centre.accebility_condition}}</span>
                            {{/if}}
                        </p>

                        <p class="text-error" id="childCare"> 2.-
                            {{#if hasChildCare}}
                            <span> This course has childcare.</span>
                            &nbsp; <span>{{model.child_care_condition}}</span>
                            {{else}}
                            <span> This course do not has childcare. </span>
                            &nbsp; <span>{{model.child_care_condition}}</span>
                            {{/if}}
                        </p>

                        <p class="text-error">3.- {{model.other_information}}</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>




