<div class="panel panel-primary bs-example">
    <div class="panel-heading centered-text">
        <div class="row">
            <div class="col-md-8">
                <div class=""><h2 class="">{{model.name}}</h2></div>
                <div><h4> {{model.organization.name}} <span> at  </span> {{centre.name}}</h4></div>
                <div class=""><h4> <strong>{{model.class_type}}:</strong>  {{model.levels}}</h4></div>
                <div class=""><strong>Contact:</strong> &nbsp; {{model.contact_person}}&nbsp; &nbsp; {{model.contact_phone}} &nbsp; {{contact_email}}</div>
                <div class=""><button class="btn btn-info" {{action "search"}}>See on map</button></div>

            </div>


            <div class="col-md-4 ">
                <div id="map-canvas-small" class=""></div>
                <div class="socialNetworkFormat">
                    <a {{bind-attr href="facebookLink"}} target='_blank'><img  class="" src="img/facebookShare.png" alt="Share in Facebook"></img></a>
                    <a {{bind-attr href="twitterLink"}} target='_blank'><img  class="" src="img/twitter.png" alt="Share in Twitter"></img></a>
                    <a {{bind-attr href="googleplusLink"}} target='_blank'><img  class="" src="img/googleplus.png" alt="Share in Googleplus"></img></a>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-primary">
    <div class="bs-example">
        <form>
            <div class="row">
                <div class="col-xs-5">
                    <h3 class="text-error">How can I join?</h3>
                    <p class="text-error">{{model.how_join}}</p>
                </div>
            <div class="col-xs-1"></div>
                <div class="col-xs-5">
                    <h3 class="text-error">Who can join?</h3>
                    <p class="text-error">{{model.who_join}}</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-xs-5">
                    <h3 class="text-error">When can I join?</h3>
                    <p class="text-error">{{model.when_join}}</p>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-5">
                    <h3 class="text-error">How much does it cost?</h3>
                    <p class="text-error" id="cost_free">
                        {{#if isFree}}
                                <span> It is for free. </span>
                            &nbsp;
                        {{else}}
                            {{#if hasCostCondition}}
                                <span>{{model.cost_condition}}</span>
                            {{else}}
                                <span>It course has a charge. </span>
                            {{/if}}
                        {{/if}}
                    </p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-xs-5">
                    <h3 class="text-error">What is the schedule?</h3>
                    <p class="text-error">{{model.times}}</p>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-5">
                    <h3 class="text-error">What documents do I need for joining?</h3>
                    <p class="text-error">{{model.documentation_required}}</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="text-error">Facilities:</h3>
                    <div class="row">
                        <div class="col-xs-1">
                             <img  class="" src="img/desability1.png" alt=""></img>
                        </div>
                        <div class="col-xs-8">
                            <p class="text-error" id="accessibility">
                                {{#if hasAccessCondition}}
                                <span class="">{{centre.accebility_condition}}</span>
                                {{/if}}
                                {{#if hasAccessibility}}
                                <span class="">This centre has disability facilities.</span>
                                {{/if}}
                                {{#if noDisability}}
                                <span class="">No disability facilities.</span>
                                {{/if}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                             <img  class="" src="img/childcare1.png" alt="childcare"></img>
                        </div>
                        <div class="col-xs-8">
                            <p class="text-error" id="childCare">
                                {{#if hasChildCondition}}
                                    <span>{{model.child_condition}}</span>
                                {{/if}}
                                {{#if hasChildCare}}
                                    <span class="">This course has childcare facilities.</span>
                                {{/if}}
                                {{#if noChildCare}}
                                    <span class="">No child care.</span>
                                {{/if}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        {{#if hasOtherInfo}}
                        <h3 class="text-error">Notes:</h3>
                        <div class="row">
                            <div class="col-xs-1">
                                <img  class="" src="img/info.png" alt="Other Info"></img>
                            </div>
                            <div class="col-xs-8">
                                <p  class="text-error">
                                    <span> &nbsp;  </span>
                                    <span> {{model.other_information}} </span>
                                </p>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </form>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
                    <div class=" text-right" {{action "backToMap"}}>
                        <span class="btn btn-success">Back to map</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>